@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*font-family: 'Titillium Web', sans-serif;*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container{
	background-image:url('../img/back.jpeg');
	background-repeat: no-repeat top center;
	background-size:cover;
	background-position: left;
	border: none;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: -1;
}

.MainPage{
	z-index: 1;
	text-align: center;
}

.heading{
	margin-top: 6.5rem;
	flex-direction: column;
	display: flex;
	text-align: center;
	justify-content: center;
}
.heading h1{
	letter-spacing: 1px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
    font-size: 75px;
	color: white;
}

.textUnderHeading{
	margin-top: -.5rem;
	line-height: 1.625;
	font-size: 19px;
	color: white;
	font-family: segoe ui;

}

.Btn{
	margin-top: 30px;
	text-align: center;
	justify-content: center;
	display: flex;
}

.btn {
	text-align: center;
	justify-content: center;
	display: flex;
	background-color: white;
	border: none;
	border-radius: 50px;
	color: #23272a;
	padding: 18px 25px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	transition: .2s ease-in-out;
	font-weight: 500;
	margin-right: 13px;
}

svg{
	margin-right: 8px;
	margin-top: 1px;
}

/* Darker background on mouse-over */
.btn:hover {
	color: #6f7aff;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
}

/**/

form {
  line-height: 1.7em;
}

label {
  /* make it look like a button */
  width: 4em;
  float: left;
  overflow: hidden;
  margin: 0.25em;
  box-shadow: 0 0 0 1px;
  border-radius: 5px;
  line-height: 1.2em;
  text-align: center;
  background: #4285F4;
  margin-left: 0;
  transition: 0.5s;
}

input:focus {
  transition: 0.3s;
  margin: 0.25em 0;
}

input:focus+label {
  margin-left: -50%;
  transition: 0.5s;
}

.openInBrowser{
	border-radius: 48px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #333;
	border: none;
	color: #fff;
	margin-left: 13px;
	font-size: 18px;
	font-weight: 500;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.openInBrowser:hover{
	box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
}

.usernameDiv{
	width: 450px;
	padding: 5px;
	background-color: #fff;
	border-radius: 100px;
}

.passwordDiv{
	width: 450px;
	padding: 5px;
	background-color: #fff;
	border-radius: 100px;
}

.browserUsername{
	border: none;
	width: 300px;
	padding: 12px 10px;
	background-color: #fff;
	font-size: 16px;
	transition: 0.3s;
	font-family: 'Titillium Web', sans-serif;
}

.usernameBtn{
	border: none;
	color: #fff;
	border-radius: 100px;
	padding: 13px 18px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	background: linear-gradient(90deg, rgba(10,4,124,1) 0%, rgba(39,2,190,1) 49%, rgba(0,134,215,1) 100%);
	cursor: pointer;
}

.browserUsername:focus{
	outline: none;
}

.termsText{
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
}

.termsLink{
	color: #fff;
	font-style: underline;
}

.loginHeader{
	display: flex;
	flex-direction: row;
}

/*------ Main Page Section 2 --------*/

#moredetailsSection{
	width: 100%;
}

.detailRow1,.detailRow2,.detailRow3{
	padding: 05rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 4rem;
}

.detailRow2{
	background-color: #F4F4F4;
}

.drdetails h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #333;
	text-align: left;
	font-size: 48px;
}

.drdetails p{
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	line-height: 1.5;
	color: #808080;
}

.detailRow4{
	background-color: #F4F4F4;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detailRow4 h1{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 63px;
	color: #333;
	padding-top: 2rem;
}

.detailRow4 p{
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	line-height: 1.5;
	color: #808080;
}

.detailRow4 img{
	width: 73rem;
}


/*------------------------------------ Download Page CSS --------------------------------------*/

.mainContent{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 50px 80px 0px 172px;

}

.DOWNLOADPAGE_Main{
		background: #23272a;
		border: none;
		min-height: 80vh;
		width: 100%;
		padding: 0;
		margin: 0;

}

.DownloadPage h1{
	letter-spacing: 3px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: 'Titillium Web';
	font-weight: 900;
	font-size: 70px;
	color: #fff;
	text-align: left;
}

.SubLine{
	color: white;
	font-family: 'Titillium Web';
	font-size: 19.5px;
}

.Bottom_Btns{
	justify-content: flex-start;
	display: flex;
	width: 44vw;
	margin-top: 1rem;
}

.dwnlodWindows{
	background-color: #5865f2;
	padding: 5px 30px;
	color: #fff;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	margin-right: 08px;
	transition: .2s ease-in-out;
}

.fa-arrow-down{
	font-size: 19px;
	color: #fff;
}


.Bottom_Btns button:hover{
	background-color: #7985ff;
	box-shadow: 3px 4px 14px 0px #00000061;
}

.Bottom_Btns p{
	margin-left: 3rem;
	background-color: transparent;
	color: rgba(255,255,255,0.8);
	padding: 18px 0px;
	cursor: default;
	font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
}

.dwnloadimg img{
	width: 40rem;
}

.downarrow a{
	color: rgba(255,255,255,0.6);
	font-size: 32px;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	transition: 0.3s;
	text-decoration: none;
}

.downarrow a:hover{
	color: rgba(255,255,255,0.9);
	transform: translateY(4px);
}

.downloadOptions{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 9rem;
	padding-bottom: 4rem;
}

.downloadCol1,.downloadCol2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 34rem;
	margin: 1rem;
}

.downloadRow1,
.downloadRow2{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 40rem;
	background-color: #f4f4f4;
	border-radius: 21px;
}

.downloadRow2{
	margin-top: 1rem;
}

.downloadRow3{
	width: 100%;
	background-color: #f4f4f4;
	border-radius: 21px;
	margin-top: 1rem;
	padding: 10px 40px;
}

.downloadRow1 .downloadHeading,
.downloadRow2 .downloadHeading{
	margin-top: 4rem;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}

.downloadpgBtn{
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	border-radius: 100px;
	padding: 12px 16px;
	margin-top: 1rem;
	margin-bottom: 6rem;
	transition: 0.2s;
	cursor: pointer;
}

.downloadpgBtn:hover{
	background-color: #4D4D4D;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.2);	
}

.downloadRow3 .downloadHeading{
	margin-top: 2rem;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.downloadParagraph{
	margin-top: 1rem;
	font-size: 17px;
	color: #808080;
}

.publicTestBtn{
	color: #fff;
	border: none;
	padding: 19px 25px;
	background-color: #333;
	font-size: 18px;
	border-radius: 100px;
	margin-top: 1rem;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 700;
	margin-bottom: 2rem;
}

.publicTestBtn:hover{
	background-color: #4D4D4D;
	box-shadow: 0px 10px 12px rgba(0,0,0,0.2);
}

/*---------- Download Col2 Rows ----------*/

.downloadRow4, .downloadRow5{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 40rem;
	background-color: #f4f4f4;
	border-radius: 21px;
	overflow: hidden;
}

.downloadRow5{
	margin-top: 1rem;
}

.downloadRow4 .downloadHeading,
.downloadRow5 .downloadHeading{
	margin-top: 4rem;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}



/*---------------------------- Support Page Style --------------------------*/

.supportContainer{
	width: 100%;
	height: 70vh;
	background: url("../img/backSupport.jpeg") no-repeat left center;
	background-size: cover;
}

.supportMainContent{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.supportMainHeader{
	font-family: 'Titillium Web', sans-serif;
	font-size: 62px;
	font-weight: 900;
	letter-spacing: 3px;
	color: #fff;
	margin-top: 3rem;
}

.supportMainSubheader{
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
}

.supportContactBtn{
	margin-top: 1rem;
	padding: 14px 17px;
	border: none;
	color: #333;
	background-color: #fff;
	font-size: 17px;
	font-weight: 600;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.3s;
}

.supportContactBtn:hover{
	background-color: #333;
	color: #fff;
}

.supportMainArea{
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	margin-bottom: 3rem;
}

.faqs{
	/* padding-top: 3rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding: 15px;*/
}

.faqs h1{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 52px;
	letter-spacing: 4px;
	color: #333;
}

.faqMain{
	width: 55rem;
	margin-top: 10px;
	margin-bottom: 5px;
}

.faqHeader{
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	color: #333;
	border: 1px solid #aeaeae;
}

.faqHeading p{
	font-weight: 600;
}

.faqContent1,
.faqContent2,
.faqContent3,
.faqContent4{
	padding: 20px 5px;
	border-left: 1px solid #aeaeae;
	border-right: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}

.faqarrow1,
.faqarrow2,
.faqarrow3,
.faqarrow4{
	cursor: pointer;
	transition: 0.3s;
}

.fa-chevron-down{
	transition: 0.3s;
}

.fa-chevron-down:hover{
	color: #5865F2;
}

.faqarrowRotate{
	transform: rotate(180deg);
}

.supportMAright{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.relatedLinks{
	margin-top: 7rem;
	border: 1px solid #aeaeae;
	padding: 15px 50px;
	border-radius: 5px;
}

.rlHeading{
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	font-size: 24px;
}

.relatedLinks ul{
	list-style: none;
}

.relatedLinks ul li{
	margin-top: 5px;
}

.relatedLinks ul li a{
	font-size: 15px;
	font-family: arial;
	text-decoration: none;
}

.supportCardsSection{
	padding: 0 1rem;
	background-color: #f1f1f1;
}

.sCardSectionHeading{
	font-size: 30px;
	word-spacing: 4px;
	color: #333;
	text-align: center;
}

.sCardSectionParagraph{
	color: #333;
	text-align: center;
}

.sCardSectionParagraph a{
	text-decoration: none;
}

.sCardsMain{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 12px;
	justify-content: center;
}

.sCard{
	width: 240px;
	height: 240px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	text-align: center;
	margin: 12px 8px;
	cursor: pointer;
	transition: 0.3s;
}

.sCard:hover{
	transform: translateY(-5px);
}
.sCard img{
	width: 100px;

}

.sCardHeading{
	font-size: 23px;
	color: #5865F2;
	margin: 0;
	padding: 0;
}

.sCardParagraph{
	font-size: 15px;
	color: #333;
}

/*---------------- Scroll Bar -----------------*/

body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}

/*-------------------- Animations ------------------*/

.fadein{
	overflow: hidden;
	opacity: 0;	
	transform: translateY(30px);
}

.appear{
	transition: opacity 500ms ease-in;
	opacity: 1;
}
